.header {
  position: relative;
  display: flex;
  flex: 0 1;
  align-items: center;
  justify-content: flex-end;
  padding: 20px $defaultSidePadding;
  background-color: $mainDark-color;

  &__logo {
    position: absolute;
    left: 50%;
    color: $secondary-color;
    transform: translateX(-50%); // for centring logo besides btn on the right
  }
}