.main {
  display: flex;
  flex: 1 1;
}

.error-msg-container {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 3;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);

  .error-msg {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
    background: $lightSlateBlue;
    opacity: 1;

    .error-msg__text {
      color: $dark;
      font-weight: bold;
      font-size: 1.5rem;
    }

    .error-msg__close-icon {
      position: absolute;
      bottom: 20px;
      // left: 0px;
      align-self: center;
      width: 30px;
      height: 30px;

      path:hover {
        color: #fff;
        cursor: pointer;
        transition: 0.2s;
      }
    }
  }
}
