@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

button,
input[type='button'] {
  width: max-content;
  padding: 1rem 2rem;
  border: none;
  background: $lightSlateBlue;
  outline: none;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    background: #fff;
  }
}

input[type='text'] {
  display: block;
  width: 100%;
  padding: 1rem 2rem;
  border: none;
  background: #fff;
  color: gray;
  outline: none;
  font-weight: bold;
  font-size: 1.2rem;
}

ul {
  list-style: none;
}
